---
title: home
---

<html>
<head>
    <title>Sebastian Bruch</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta name='author' content='Sebastian Bruch'>

    <link rel='shortcut icon' href='/favicon.png?v=e' />
    <link href='/css/blog.css' rel='stylesheet'/>

    {% include mathjax.html %}
</head>
<body>
    {% include nav.html %}
    <div id='home' class='wrap'>
      <div id='intro' class='section'>
	<b class="post-subtitle">{{ site.author }}</b>
	<br>
	{% if site.email %}
          <i class="post-subtitle">{{ site.email }}</i>
        {% endif %}
      </div>

        Author of <a href='/blog/publications/2024/05/01/foundations-of-vector-retrieval/'>Foundations of Vector Retrieval</a>
    </div>
</body>
</html>
